.gh-head-logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--brand-color);
}

.gh-head-logo::before {
    content: "~ ";
    color: var(--orange-color);
}

.gh-head-menu {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-head-menu .nav li a::before {
    content: "/";
    color: var(--accent-gold);
    font-weight: 900;
    font-size: 1.1em;
}

.gh-head-menu .nav li a {
    color: var(--brand-color);
    text-decoration: none;
}

.gh-head-menu .nav li a:hover {
    color: var(--accent-cyan);
    text-decoration: none;
}

.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
}

