.gh-head-logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--brand-color);
}

.gh-head-logo::before {
    content: "~ ";
    color: var(--orange-color);
}

.gh-head-menu {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-head-menu .nav li a::before {
    content: " | ";
    color: var(--mid-gray-color);
    margin-right: 5px;
}

.gh-head-menu .nav li:first-child a::before {
    content: "";
    display: none;
}

.gh-head-menu .nav li a {
    color: var(--brand-color);
    text-decoration: none;
}

.gh-head-menu .nav li a:hover {
    color: var(--orange-color);
    text-decoration: underline;
}

.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
}

